node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Django
db.sqlite3
staticfiles/
__pycache__/

# Funnies
awsScripts/

# private stuff
settings.ini
portScript.py
workers.sh
